*{
    margin: 0;
    padding: 0;

}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.hamburger-icon{
  display: none;
}
header{
  background-color:#1A0B2E ;
  
}

/* nav style */


nav{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding-top: 16px;
  margin: 0 auto;
  margin-bottom: 5rem ;
  
  
}


nav ul {
  display: flex;
  gap: 2rem;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: rgba(255, 255, 255, 90%) ;
  font-size: 1rem;
}
.primary-btn{
  padding: 12px 16px;
  background-image: linear-gradient(to right , #F7E93F , #FB09B4 , #9100F8);
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 1000px;
  color: white;
  transition:;
  

}
.hero-background{
  position: relative;

}

.at-middle-of-img{
 position: absolute;
 top: 25%;
 left: 33%;
}
.at-top-of-img{
  background-color: #00FF88;
  padding: 8px 16px;
  color: black;
  font-weight: 600;
  border-radius: 1000px;
  position: absolute;
  top: 1%;
  right: 10%;

}

.hero-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/hero-bg.png);
  
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 6.25rem;
}


.hero-text{
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom:.5rem ;
}

.hero-text h1{
  color: white;
  font-size: 3.75rem;
}
.hero-text p{
  color: rgba(255, 255, 255, .8);
  margin-top: 8px;
  margin-bottom: 1.5rem;
}
.hero-btn2{
  padding:12px 20px ;
  color: #00FF88;
  border: 2px solid #00FF88;
  background-color: transparent;
  border-radius: 1000px;
  font-weight: 600;
  margin-left: 8px;
}
/* about-section */

.about-section{
  background-color:#1A0B2E ;
}
.about-box{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3.25rem;
  padding-bottom: 7.5rem;
}
.about-text h2{
  font-size:3rem ;
  color: white;
  font-weight: bold;
  margin-bottom:16px ;
}
.about-text p{
  color:rgba(255, 255, 255, 0.8) ;
  line-height: 25px;
}
.aboutp1{
  margin-bottom:1.5rem ;
  margin-top: 1rem;
  
}
.aboutp2{
  margin-bottom: 4rem;
}
.about-hr{
  border: none;
  height: 2px;
  background-color: rgba(255, 255, 255, 10%);

}
.about-cards-box{
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  gap: 5rem;
}
.card h4{
  color: #00FF88;
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem;

}
.card p{

  color:rgba(255, 255, 255, 0.8) ;
}

/* choose-section */

.why-choose-section{
  background-color: #230E3D ;
}
.choose-box{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
.choose-box h2{
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2.5rem;

}
.gcard{
  background-color: rgba(53, 17, 101, 0.4);
}
.gcard{
  padding: 2.5rem;
 border-radius: 2.5rem;
}
.gcard1{
  padding-top: 6.65rem;
  padding-bottom: 6.65rem;
}
 .gcard h4{
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
 }
 .gcard p{
  color:rgba(255, 255, 255, 0.65)  ;
 }
.gcard1{
  grid-area: gcard1;
}
.gcard2{
  grid-area: gcard2;
}
.gcard3{
  grid-area: gcard3;
}
.gcard4{
  grid-area: gcard4;
}
.gcard5{
  grid-area: gcard5;
}

.grid-cards{
  display: grid;
  gap: 1.9rem;
  grid-template-areas: 
   "gcard1 gcard2 gcard2"
    "gcard1 gcard3 gcard3"
     "gcard4 gcard4 gcard5";
}

/* episode section */
.episode-section{
  background-color:rgba(26, 11, 46, 1) ;
}
.episode-box{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
.episode-box h2{
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 2.5rem;
}
.video{
  background:rgba(37, 13, 68, 1) ;
  border-radius: 24px;
}
iframe{
  border-top-left-radius:24px ;
  border-top-right-radius: 24px;
}
.all-video{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  gap: 1.9rem;
}
.video-text{
  padding: 24px;
}
.video-text h5{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .8rem;
}
.video-text p{
   color:rgba(255, 255, 255, 0.65)  ;
   margin-bottom: .8rem;
}
.ifram-time{
  color: #00FF88;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

 /* host section */

.host-section{
  background-color: #1A0B2E;
}
.host-content{
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 7.5rem;
  
}
.host-content h2{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  padding-top: 1rem;
  margin-bottom: 2.5rem;
}
.host-flex{
  background-color:rgba(53, 17, 101, 0.4) ;
  padding: 2.5rem;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 1.5rem;

}
.host-details h3{
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.host-details p{
   color:rgba(255, 255, 255, 0.60)  ;
   margin-top:1rem ;
   margin-bottom: 1rem;
}
.host-details img{
  margin-right: 8px ;
  
}
.host-social{
  display: flex;
  
  
}
.circle-img{
  width:40px ;
  height: 40px;
  border: 1px solid gray;
  
  border-radius: 50%;
  margin-right: .5rem;

}
.circle-img img{
  padding: 12px 11px;
}

/* footer desing */
footer{
    background-color:#1A0B2E ;
    background-image: url(../assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top:7.5rem ;
    padding-bottom: 7.5rem;


}
.footer-content{
  max-width: 1200px;
  margin: 0 auto;
  
  margin-top: 2.5rem;
  
  
}
.footer-logo{
  display: flex;
  justify-content: center;
}
.footer-logo{
  margin-bottom: 2rem;
}
.footer-content p{
  color:rgba(255, 255, 255, 0.65)  ;
  margin-top: 2rem;
  text-align: center;

}
.footer-content span{
  color:rgba(255, 255, 255, 0.65)  ;
  margin-right: 2rem;
  
}
.footer-content span>img{
  margin-right: .5rem;
}
.flex-podcast{
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 576px){
   nav{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    align-items: center;
   }
    .nav-items , .nav-btn{
      display: none;
    }
    .nav-logo{
      width: 157px;
      height: 20px;
    }
    .nav-logo img{
      width: 100%;
    }
    .hamburger-icon{
      display: inline;
    }

    .hero-section{
      padding-left: 20px;
      padding-right: 20px;
    }
    .main-hero-img{
      width: 200px;
      height: 200px;
    }
    .at-middle-of-img{
      height: 80px;
      left: 35%;
  

    }
    .at-top-of-img{
      top: -1%;
      right: 1%;
    }
    .hero-section{
      background-size: 100%;
      background-position: top;
      padding-bottom: 20px;
      
    

    }
    .hero-text h1{
      font-size: 40px;
    }
    .about-section{
      padding-top:0px ;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      
      
      
    }
    .about-box{
      padding-bottom: 40px;
    }
   .about-section h2{
     font-size: 2rem;
   }
   .about-cards-box{
    padding-top: 20px;
   }
   .about-cards-box{
    grid-template-columns: repeat(2 ,1fr);
    gap: 40px;
    
   }
   .why-choose-section{
    padding-left: 20px;
    padding-right: 20px;
   }
   .choose-box{
    padding-top:40px ;
    padding-bottom: 40px;
   }
   .grid-cards{
    grid-template-areas: 
    "gcard1"
    "gcard2" 
    "gcard3"
    "gcard4"
    "gcard5";
    gap: 16px;
   }
   .gcard{
    padding: 24px;
   }
   .gcard h4{
    font-size: 20px;
   }
   .choose-box h2{
    font-size: 32px;
    margin-bottom: 16px;
   }
   .episode-box{
    padding-top: 40px;
    padding-bottom: 40px;
    
   }
   .episode-box h2{
    font-size: 32px;
    margin-bottom: 24px;
   }
   .all-video{
    grid-template-columns: repeat(1 , 1fr);
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
   }
   .video h5{
    font-size: 20px;
    
   }
   .video{
    width: 95%;
   }
   .video iframe{
    width: 100%;
   }
   .host-section{
    padding-left: 20px;
    padding-right: 20px;
    
   }
   

   .host-flex{
    flex-direction: column;
    
    
   }
   .host-details{
    text-align: center;
   }
   .host-social{
    justify-content: center;
   }
   .host-content{
    padding-bottom: 40px;
   }
 .host-content h2{
  font-size:32px ;
 }
 .host-details h3{
  font-size:24px ;
 }
 .footer-flex{
  justify-content: center;
 }
 .flex-podcast{
  justify-content: center;
 }
 .flex-podcast-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
 }
 footer{
  padding-top: 20px;
  padding-top: 20px;
  

  padding-bottom: 20px;
  background-size: cover;
  background-position: bottom;
 }
 .footer-logo img{
    width: 219px;
    height: 32px;
 }
 .footer-content{
  padding: 20px;
 }

}
  
