*{
    margin: 0;
    padding: 0;

}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.hamburger-icon{
  display: none;
}
header{
  background-color:#1A0B2E ;
}

/* nav style */


nav{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding-top: 16px;
  margin: 0 auto;
  margin-bottom: 5rem ;
  
  
}
.nav-logo img{
  width: 100%;
}

nav ul {
  display: flex;
  gap: 2rem;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: rgba(255, 255, 255, 90%) ;
  font-size: 1rem;
}
.primary-btn{
  padding: 12px 16px;
  background-image: linear-gradient(to right , #F7E93F , #FB09B4 , #9100F8);
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 1000px;
  color: white;
  

}
.hero-background{
  position: relative;

}

.at-middle-of-img{
 position: absolute;
 top: 25%;
 left: 33%;
}
.at-top-of-img{
  background-color: #00FF88;
  padding: 8px 16px;
  color: black;
  font-weight: 600;
  border-radius: 1000px;
  position: absolute;
  top: 1%;
  right: 10%;

}

.hero-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
}


.hero-text{
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom:.5rem ;
}

.hero-text h1{
  color: white;
  font-size: 3.75rem;
}
.hero-text p{
  color: rgba(255, 255, 255, .8);
  margin-top: 8px;
  margin-bottom: 1.5rem;
}
.hero-btn2{
  padding:12px 20px ;
  color: #00FF88;
  border: 2px solid #00FF88;
  background-color: transparent;
  border-radius: 1000px;
  font-weight: 600;
  margin-left: 8px;
}
