*{
    margin: 0;
    padding: 0;

}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.hamburger-icon{
  display: none;
}
header{
  background-color:#1A0B2E ;
  
}

/* nav style */


nav{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding-top: 16px;
  margin: 0 auto;
  margin-bottom: 5rem ;
  
  
}
.nav-logo img{
  width: 100%;
}

nav ul {
  display: flex;
  gap: 2rem;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: rgba(255, 255, 255, 90%) ;
  font-size: 1rem;
}
.primary-btn{
  padding: 12px 16px;
  background-image: linear-gradient(to right , #F7E93F , #FB09B4 , #9100F8);
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 1000px;
  color: white;
  

}
.hero-background{
  position: relative;

}

.at-middle-of-img{
 position: absolute;
 top: 25%;
 left: 33%;
}
.at-top-of-img{
  background-color: #00FF88;
  padding: 8px 16px;
  color: black;
  font-weight: 600;
  border-radius: 1000px;
  position: absolute;
  top: 1%;
  right: 10%;

}

.hero-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 6.25rem;
}


.hero-text{
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom:.5rem ;
}

.hero-text h1{
  color: white;
  font-size: 3.75rem;
}
.hero-text p{
  color: rgba(255, 255, 255, .8);
  margin-top: 8px;
  margin-bottom: 1.5rem;
}
.hero-btn2{
  padding:12px 20px ;
  color: #00FF88;
  border: 2px solid #00FF88;
  background-color: transparent;
  border-radius: 1000px;
  font-weight: 600;
  margin-left: 8px;
}
/* about-section */

.about-section{
  background-color:#1A0B2E ;
}
.about-box{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3.25rem;
  padding-bottom: 7.5rem;
}
.about-text h2{
  font-size:3rem ;
  color: white;
  font-weight: bold;
  margin-bottom:16px ;
}
.about-text p{
  color:rgba(255, 255, 255, 0.8) ;
  line-height: 25px;
}
.aboutp1{
  margin-bottom:1.5rem ;
  margin-top: 1rem;
  
}
.aboutp2{
  margin-bottom: 4rem;
}
.about-hr{
  border: none;
  height: 2px;
  background-color: rgba(255, 255, 255, 10%);

}
.about-cards-box{
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  gap: 5rem;
}
.card h4{
  color: #00FF88;
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem;

}
.card p{

  color:rgba(255, 255, 255, 0.8) ;
}

/* choose-section */

.why-choose-section{
  background-color: #230E3D ;
}
.choose-box{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
.choose-box h2{
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2.5rem;

}
.gcard{
  background-color: rgba(53, 17, 101, 0.4);
}
.gcard{
  padding: 2.5rem;
 border-radius: 2.5rem;
}
.gcard1{
  padding-top: 6.65rem;
  padding-bottom: 6.65rem;
}
 .gcard h4{
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
 }
 .gcard p{
  color:rgba(255, 255, 255, 0.65)  ;
 }
.gcard1{
  grid-area: gcard1;
}
.gcard2{
  grid-area: gcard2;
}
.gcard3{
  grid-area: gcard3;
}
.gcard4{
  grid-area: gcard4;
}
.gcard5{
  grid-area: gcard5;
}

.grid-cards{
  display: grid;
  gap: 1.9rem;
  grid-template-areas: 
   "gcard1 gcard2 gcard2"
    "gcard1 gcard3 gcard3"
     "gcard4 gcard4 gcard5";
}